.statistics {
  width: 330px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: cyan;
}

.stat_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: azure;
}

.item {
  width: 65px;
  height: 80px;
}

.item:nth-child(1) {
  background-color: #4ac6fb;
}

.item:nth-child(2) {
  background-color: #a83ef3;
}

.item:nth-child(3) {
  background-color: #cc5771;
}

.item:nth-child(4) {
  background-color: #26b9c7;
}

.item:nth-child(5) {
  background-color: green;
}

.label {
  margin-bottom: 10px;
  padding-top: 5px;
}

.percentage {
  padding-top: 5px;
  font-size: 20px;
}
